h1{
    color: aquamarine;
}
img{
    height: 400px;
    width: 500px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: blue;
    padding: 50px;
    border: rebeccapurple 20px solid;
}
#spanId{
    font-size: 25px;
    margin: 50px;
}